
@{
    Layout = "_Layout";
}

    @* Body *@
    <section class="container text-center">
        <div class="mt-3 p-5 bg-primary rounded-2 text-white">
            <p>AFAFAFSA FKW;LF KW;LEJ FES MLKESMGKLSJ GEWPOGKWEPOGKEWPOKGPEWS GDSLKGNMDSLKGNMSLK GEL;GM;LGKMW</p>
        </div>
    </section>
